@{
    Layout = null;
}

<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Analytics</title>
    <link rel="stylesheet" href="~/css/nicepage.css" media="screen">
    <link rel="stylesheet" href="~/css/Analytics.css" media="screen">
    <script class="u-script" type="text/javascript" src="~/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/js/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 2.27.3, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=text-font">



    <meta property="og:title" content="Analytics">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#ec8700">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
</head>
<body class="u-body">
    @Html.Partial("Header")
    <section class="u-clearfix u-section-1" id="sec-5db6">
        <div class="u-clearfix u-sheet u-sheet-1">
            <img src="https://pixabay.com/get/54e7d3414856ad14f6da8c7dda793678153bdee757596c48732f78d49649c55bbf_1280.jpg" alt="" class="u-image u-image-round u-radius-10 u-image-1" data-image-width="1280" data-image-height="852">
            <h4 class="u-text u-text-1">Mamedov ilqar</h4>
            <p class="u-small-text u-text u-text-variant u-text-2">ID: 1234556</p>
            <p class="u-small-text u-text u-text-font u-text-variant u-text-3">
                Position: Seller<br>
            </p>
        </div>
    </section>
    <section class="u-align-left-xs u-clearfix u-gradient u-section-2" id="sec-1192">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-preserve-proportions u-radius-20 u-shape u-shape-round u-white u-shape-1"></div>
        </div>
    </section>
    <section class="u-clearfix u-grey-10 u-section-3" id="sec-f91e">
        <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
            <div class="u-radius-20 u-shape u-shape-round u-white u-shape-1"></div>
            <h3 class="u-text u-text-body-color u-text-1">
                Work hours<br>
            </h3>
            <img src="~/images/workhours1.png" alt="" class="u-image u-image-default u-image-1">
            <p class="u-small-text u-text u-text-font u-text-variant u-text-2">&nbsp; &nbsp; &nbsp; Mon&nbsp; &nbsp; &nbsp; &nbsp;Tue&nbsp; &nbsp; &nbsp; &nbsp;Wed&nbsp; &nbsp; &nbsp; &nbsp; Thu&nbsp; &nbsp; &nbsp; &nbsp; Fri&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Sat&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Sun</p>
        </div>
    </section>
    <section class="u-clearfix u-grey-10 u-section-4" id="carousel_f56e">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-radius-20 u-shape u-shape-round u-white u-shape-1"></div>
            <h3 class="u-text u-text-body-color u-text-1">
                Productivity<br>
            </h3>
            <img src="~/images/charts.png" alt="" class="u-image u-image-default u-image-1" data-image-width="737" data-image-height="268">
            <p class="u-small-text u-text u-text-font u-text-variant u-text-2">&nbsp; &nbsp; &nbsp; Mon&nbsp; &nbsp; &nbsp; &nbsp;Tue&nbsp; &nbsp; &nbsp; &nbsp;Wed&nbsp; &nbsp; &nbsp; &nbsp; Thu&nbsp; &nbsp; &nbsp; &nbsp; Fri&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Sat&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Sun</p>
        </div>
    </section>


    @Html.Partial("Footer");
</body>
</html>