@{
    Layout = null;
}

<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>issue report</title>
    <link rel="stylesheet" href="~/css/nicepage.css" media="screen">
    <link rel="stylesheet" href="~/css/issue-report.css" media="screen">
    <script class="u-script" type="text/javascript" src="~/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/js/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 2.27.3, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=heading-font">




    <meta property="og:title" content="issue report">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#ec8700">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
</head>
<body class="u-body">
    @Html.Partial("Header")
    <section class="u-clearfix u-section-1" id="sec-d095">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-palette-2-base u-radius-35 u-shape u-shape-round u-shape-1"></div>
            <h3 class="u-text u-text-1">Task #235</h3>
            <h5 class="u-text u-text-2">
                ID: 1234556<br>
            </h5>
            <h5 class="u-text u-text-3">Position: Seller</h5><span class="u-icon u-icon-circle u-text-white u-icon-1">
                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-0a7c"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" id="svg-0a7c" style="enable-background:new 0 0 512 512;"><g><g><g><path d="M160,0H0v160h160V0z M128,128H32V32h96V128z"></path><rect x="64" y="64" width="32" height="32"></rect><path d="M352,0v160h160V0H352z M480,128h-96V32h96V128z"></path><rect x="416" y="64" width="32" height="32"></rect><path d="M0,512h160V352H0V512z M32,384h96v96H32V384z"></path><rect x="64" y="416" width="32" height="32"></rect><rect x="256" width="64" height="32"></rect><polygon points="256,128 288,128 288,96 320,96 320,64 224,64 224,32 192,32 192,64 192,80 192,96 256,96    "></polygon><rect x="192" y="128" width="32" height="32"></rect><polygon points="320,160 288,160 288,192 192,192 192,224 320,224    "></polygon><polygon points="32,288 64,288 64,256 32,256 32,192 0,192 0,320 32,320    "></polygon><rect x="64" y="192" width="32" height="32"></rect><polygon points="192,320 256,320 256,288 224,288 224,256 160,256 160,192 128,192 128,256 96,256 96,320 128,320 128,288      144,288 160,288 192,288    "></polygon><rect x="288" y="256" width="32" height="64"></rect><polygon points="288,352 192,352 192,384 256,384 256,480 192,480 192,512 288,512 288,480 352,480 352,448 288,448    "></polygon><rect x="192" y="416" width="32" height="32"></rect><rect x="320" y="352" width="32" height="64"></rect><polygon points="480,416 384,416 384,512 416,512 416,448 480,448    "></polygon><rect x="448" y="480" width="64" height="32"></rect><rect x="480" y="352" width="32" height="32"></rect><polygon points="384,384 416,384 416,288 352,288 352,320 384,320    "></polygon><polygon points="448,224 416,224 416,192 384,192 384,224 352,224 352,256 480,256 480,224 512,224 512,192 448,192    "></polygon><rect x="448" y="288" width="64" height="32"></rect>
</g>
</g>
</g></svg>
            </span>
            <h6 class="u-text u-text-4">All</h6>
            <h5 class="u-text u-text-5">Location</h5>
            <h5 class="u-text u-text-default u-text-6">Problem</h5><span class="u-icon u-icon-circle u-text-grey-5 u-icon-2">
                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 456.556 456.556" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-effc"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 456.556 456.556" x="0px" y="0px" id="svg-effc" style="enable-background:new 0 0 456.556 456.556;"><g><path d="M97.564,79.443H13.428C6.011,79.443,0,73.428,0,66.015s6.011-13.428,13.428-13.428h84.136   c7.417,0,13.428,6.015,13.428,13.428S104.981,79.443,97.564,79.443z"></path><path d="M145.643,127.518c-33.916,0-61.507-27.591-61.507-61.504c0-33.92,27.591-61.511,61.507-61.511s61.507,27.591,61.507,61.511   C207.15,99.928,179.559,127.518,145.643,127.518z M145.643,31.36c-19.107,0-34.651,15.547-34.651,34.654   s15.544,34.647,34.651,34.647s34.651-15.54,34.651-34.647S164.75,31.36,145.643,31.36z"></path><path d="M443.128,79.443H242.433c-7.417,0-13.428-6.015-13.428-13.428s6.011-13.428,13.428-13.428h200.694   c7.417,0,13.428,6.015,13.428,13.428S450.545,79.443,443.128,79.443z"></path><path d="M325.936,289.782c-33.917,0-61.507-27.591-61.507-61.504s27.591-61.504,61.507-61.504s61.507,27.591,61.507,61.504   S359.853,289.782,325.936,289.782z M325.936,193.631c-19.107,0-34.651,15.54-34.651,34.647s15.544,34.647,34.651,34.647   s34.651-15.54,34.651-34.647S345.043,193.631,325.936,193.631z"></path><path d="M229.149,241.706H13.428C6.011,241.706,0,235.691,0,228.278s6.011-13.428,13.428-13.428h215.721   c7.417,0,13.428,6.015,13.428,13.428S236.566,241.706,229.149,241.706z"></path><path d="M443.128,241.706h-69.113c-7.417,0-13.428-6.015-13.428-13.428s6.011-13.428,13.428-13.428h69.113   c7.417,0,13.428,6.015,13.428,13.428S450.545,241.706,443.128,241.706z"></path><path d="M130.62,452.052c-33.916,0-61.507-27.591-61.507-61.511c0-33.913,27.591-61.504,61.507-61.504s61.507,27.591,61.507,61.504   C192.127,424.461,164.536,452.052,130.62,452.052z M130.62,355.894c-19.107,0-34.651,15.54-34.651,34.647   s15.544,34.654,34.651,34.654s34.651-15.547,34.651-34.654S149.727,355.894,130.62,355.894z"></path><path d="M443.128,403.97H227.407c-7.417,0-13.428-6.015-13.428-13.428c0-7.413,6.011-13.428,13.428-13.428h215.721   c7.417,0,13.428,6.015,13.428,13.428C456.556,397.955,450.545,403.97,443.128,403.97z"></path><path d="M82.541,403.97H13.428C6.011,403.97,0,397.955,0,390.541c0-7.413,6.011-13.428,13.428-13.428h69.113   c7.417,0,13.428,6.015,13.428,13.428C95.969,397.955,89.958,403.97,82.541,403.97z"></path>
</g></svg>
            </span>
        </div>
    </section>
    <section class="u-clearfix u-section-2" id="sec-6d27">
        <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
            <span class="u-custom-color-1 u-icon u-icon-circle u-spacing-10 u-icon-1">
                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 288.579 288.579" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-9ca3"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 288.579 288.579" x="0px" y="0px" id="svg-9ca3" style="enable-background:new 0 0 288.579 288.579;"><g><path style="fill:currentColor;" d="M283.127,57.184l-22.871-22.131c-7.101-6.874-18.438-6.683-25.311,0.424L113.442,161.085   c-6.88,7.107-19.404,8.879-27.985,3.962l-42.824-24.542c-8.568-4.917-19.512-1.951-24.428,6.629l-15.83,27.615   c-4.917,8.58-1.951,19.518,6.623,24.434c0,0,103.889,59.46,103.931,59.376c0.048-0.084,137.25-141.57,170.617-176.058   C290.419,75.389,290.228,64.052,283.127,57.184z"></path>
</g></svg>
            </span>
            <h4 class="u-align-center-xs u-text u-text-default u-text-1">Issue reported</h4>
        </div>
    </section>
    <section class="u-clearfix u-section-3" id="sec-2085">
        <div class="u-clearfix u-sheet u-sheet-1">
            <p class="u-large-text u-text u-text-variant u-text-1">
                Shop:<br>
            </p>
            <p class="u-align-right-xs u-text u-text-2">Azaz Narimanov</p>
        </div>
    </section>
    <section class="u-clearfix u-section-4" id="sec-0c06">
        <div class="u-clearfix u-sheet u-sheet-1">
            <p class="u-large-text u-text u-text-variant u-text-1">
                Issue Confirmed:<br>
            </p>
            <p class="u-align-right-xs u-text u-text-2">9:21</p>
        </div>
    </section>
    <section class="u-clearfix u-section-5" id="sec-dd81">
        <div class="u-clearfix u-sheet u-sheet-1">
            <p class="u-large-text u-text u-text-variant u-text-1">
                Issue Solved:<br>
            </p>
            <p class="u-align-right-xs u-text u-text-2">12:47</p>
        </div>
    </section>
    <section class="u-clearfix u-section-6" id="sec-5e93">
        <div class="u-clearfix u-sheet u-sheet-1">
            <p class="u-large-text u-text u-text-variant u-text-1">
                Repair's ID:<br>
            </p>
            <p class="u-align-right-xs u-text u-text-2">1215322</p>
        </div>
    </section>
    <section class="u-clearfix u-section-7" id="sec-fdf8">
        <div class="u-clearfix u-sheet u-sheet-1">
            <p class="u-large-text u-text u-text-variant u-text-1">
                Comment:<br>
            </p>
            <p class="u-align-right-xs u-text u-text-2">Lorem Ipsum</p>
        </div>
    </section>
    <section class="u-clearfix u-section-8" id="sec-fa04">
        <div class="u-clearfix u-sheet u-sheet-1">
            <p class="u-large-text u-text u-text-variant u-text-1">
                Materials:<br>
            </p>
            <p class="u-align-right-xs u-text u-text-2">Wire, Tube, Valve</p>
        </div>
    </section>
    <section class="u-clearfix u-section-9" id="sec-e002">
        <div class="u-clearfix u-sheet u-sheet-1">
            <p class="u-large-text u-text u-text-variant u-text-1">
                Manager's ID:<br>
            </p>
            <p class="u-align-right-xs u-text u-text-2">4219887</p>
        </div>
    </section>
    <section class="u-clearfix u-section-10" id="sec-09a1">
        <div class="u-clearfix u-sheet u-sheet-1">
            <a href="https://nicepage.com" class="u-border-2 u-border-custom-color-1 u-border-hover-custom-color-2 u-btn u-btn-round u-button-style u-none u-radius-50 u-btn-1">BACK</a>
            <a href="https://nicepage.com" class="u-border-2 u-border-custom-color-1 u-border-hover-custom-color-2 u-btn u-btn-round u-button-style u-custom-color-1 u-hover-white u-radius-50 u-text-body-alt-color u-btn-2">SEND</a>
        </div>
    </section>
    <section class="u-align-left-xs u-clearfix u-gradient u-section-11" id="sec-8b2f">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-preserve-proportions u-radius-20 u-shape u-shape-round u-white u-shape-1"></div>
        </div>
    </section>
    <section class="u-clearfix u-grey-10 u-section-12" id="sec-4ae5">
        <div class="u-clearfix u-sheet u-sheet-1"></div>
    </section>


    @Html.Partial("Footer");
</body>
</html>