@{
    Layout = null;
}

<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>profile</title>
    <link rel="stylesheet" href="~/css/nicepage.css" media="screen">
    <link rel="stylesheet" href="~/css/profile.css" media="screen">
    <script class="u-script" type="text/javascript" src="~/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/js/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 2.27.3, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=text-font|heading-font">


    <meta property="og:title" content="profile">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#ec8700">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
</head>
<body class="u-body">

    <section class="u-clearfix u-section-1" id="sec-5db6">
        <div class="u-clearfix u-sheet u-sheet-1">
            <img src="~/images/54e7d3414856ad14f6da8c7dda793678153bdee757596c48732f78d49649c55bbf_1280.jpg" alt="" class="u-image u-image-round u-radius-10 u-image-1" data-image-width="1280" data-image-height="852">
            <h4 class="u-text u-text-1">Mamedov ilqar</h4>
            <p class="u-small-text u-text u-text-font u-text-variant u-text-2">32 years</p>
        </div>
    </section>
    <section class="u-clearfix u-section-2" id="sec-35b0">
        <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
            <p class="u-large-text u-text u-text-default u-text-font u-text-variant u-text-1">ID: 123456</p>
            <p class="u-large-text u-text u-text-default u-text-font u-text-variant u-text-2">Position: Worker</p>
            <p class="u-large-text u-text u-text-font u-text-variant u-text-3">Shop Address: Lorem Ipsum</p>
        </div>
    </section>
    <section class="u-align-left-xs u-clearfix u-gradient u-section-3" id="sec-aa2c">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-preserve-proportions u-radius-20 u-shape u-shape-round u-white u-shape-1"></div>
        </div>
    </section>
    <section class="u-clearfix u-gradient u-section-4" id="sec-6bf6">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-radius-10 u-shape u-shape-round u-white u-shape-1"></div>
            <h4 class="u-text u-text-default u-text-1">Last Issues</h4>
        </div>
    </section>
    <a href="../Home/issuereport" style="color:black">
        <section class="u-clearfix u-section-5" id="sec-887d">
            <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
                <span class="u-icon u-icon-rounded u-palette-2-light-1 u-radius-10 u-spacing-10 u-text-white u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 -30 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-b8f8"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 -30 512 512" id="svg-b8f8"><path d="m496.136719 291.480469-151-242c-19.332031-30.984375-52.65625-49.480469-89.136719-49.480469s-69.804688 18.496094-89.136719 49.480469l-151 242c-10.378906 16.632812-15.863281 35.832031-15.863281 55.519531 0 57.898438 47.101562 105 105 105h302c57.898438 0 105-47.101562 105-105 0-19.6875-5.484375-38.886719-15.863281-55.519531zm-89.136719 130.519531h-302c-41.355469 0-75-33.644531-75-75 0-14.066406 3.914062-27.773438 11.316406-39.636719l151-242c13.816406-22.144531 37.621094-35.363281 63.683594-35.363281s49.867188 13.21875 63.683594 35.363281l151 242c7.402344 11.863281 11.316406 25.570313 11.316406 39.636719 0 41.355469-33.644531 75-75 75zm0 0"></path><path d="m294.234375 81.242188c-8.300781-13.300782-22.59375-21.242188-38.234375-21.242188s-29.933594 7.941406-38.234375 21.242188l-150.996094 242c-4.429687 7.097656-6.769531 15.3125-6.769531 23.757812 0 24.8125 20.1875 45 45 45h302c24.8125 0 45-20.1875 45-45 0-8.445312-2.339844-16.660156-6.765625-23.757812zm-23.234375 249.757812h-30v-30h30zm0-60h-30v-106h30zm0 0"></path></svg></span>
                <h4 class="u-text u-text-1">Door</h4>
                <p class="u-small-text u-text u-text-font u-text-variant u-text-2">Repair</p><span class="u-icon u-icon-circle u-text-custom-color-1 u-icon-2">
                    <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 490.434 490.433" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-9857"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 490.434 490.433" x="0px" y="0px" id="svg-9857" style="enable-background:new 0 0 490.434 490.433;"><g><path d="M472.003,58.36l-13.132-11.282c-21.798-18.732-54.554-16.644-73.799,4.697L165.39,295.359l-66.312-57.112   c-21.775-18.753-54.536-16.707-73.804,4.611l-11.611,12.848c-9.416,10.413-14.305,24.149-13.595,38.18   c0.717,14.023,6.973,27.188,17.402,36.6l121.553,111.311c10.524,9.883,24.628,15.037,39.044,14.272   c14.416-0.763,27.894-7.386,37.311-18.329l262.245-304.71c9.162-10.646,13.717-24.494,12.661-38.496   C489.229,80.522,482.655,67.512,472.003,58.36z"></path>
</g></svg>
                </span>
            </div>
        </section>
    </a>
    <a href="../Home/issuereport" style="color:black">
        <section class="u-clearfix u-section-6" id="sec-06a9">
            <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
                <span class="u-icon u-icon-rounded u-palette-2-light-1 u-radius-10 u-spacing-10 u-text-white u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 -30 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-b8f8"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 -30 512 512" id="svg-b8f8"><path d="m496.136719 291.480469-151-242c-19.332031-30.984375-52.65625-49.480469-89.136719-49.480469s-69.804688 18.496094-89.136719 49.480469l-151 242c-10.378906 16.632812-15.863281 35.832031-15.863281 55.519531 0 57.898438 47.101562 105 105 105h302c57.898438 0 105-47.101562 105-105 0-19.6875-5.484375-38.886719-15.863281-55.519531zm-89.136719 130.519531h-302c-41.355469 0-75-33.644531-75-75 0-14.066406 3.914062-27.773438 11.316406-39.636719l151-242c13.816406-22.144531 37.621094-35.363281 63.683594-35.363281s49.867188 13.21875 63.683594 35.363281l151 242c7.402344 11.863281 11.316406 25.570313 11.316406 39.636719 0 41.355469-33.644531 75-75 75zm0 0"></path><path d="m294.234375 81.242188c-8.300781-13.300782-22.59375-21.242188-38.234375-21.242188s-29.933594 7.941406-38.234375 21.242188l-150.996094 242c-4.429687 7.097656-6.769531 15.3125-6.769531 23.757812 0 24.8125 20.1875 45 45 45h302c24.8125 0 45-20.1875 45-45 0-8.445312-2.339844-16.660156-6.765625-23.757812zm-23.234375 249.757812h-30v-30h30zm0-60h-30v-106h30zm0 0"></path></svg></span>
                <h4 class="u-text u-text-1">Wall</h4>
                <p class="u-small-text u-text u-text-font u-text-variant u-text-2">Repair</p><span class="u-icon u-icon-circle u-text-custom-color-1 u-icon-2">
                    <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 490.434 490.433" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-9857"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 490.434 490.433" x="0px" y="0px" id="svg-9857" style="enable-background:new 0 0 490.434 490.433;"><g><path d="M472.003,58.36l-13.132-11.282c-21.798-18.732-54.554-16.644-73.799,4.697L165.39,295.359l-66.312-57.112   c-21.775-18.753-54.536-16.707-73.804,4.611l-11.611,12.848c-9.416,10.413-14.305,24.149-13.595,38.18   c0.717,14.023,6.973,27.188,17.402,36.6l121.553,111.311c10.524,9.883,24.628,15.037,39.044,14.272   c14.416-0.763,27.894-7.386,37.311-18.329l262.245-304.71c9.162-10.646,13.717-24.494,12.661-38.496   C489.229,80.522,482.655,67.512,472.003,58.36z"></path>
</g></svg>
                </span>
            </div>
        </section>
    </a>
    <a href="../Home/issuereport" style="color:black">
        <section class="u-clearfix u-section-7" id="sec-9fbd">
            <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
                <span class="u-icon u-icon-rounded u-palette-2-light-1 u-radius-10 u-spacing-10 u-text-white u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 -30 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-b8f8"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 -30 512 512" id="svg-b8f8"><path d="m496.136719 291.480469-151-242c-19.332031-30.984375-52.65625-49.480469-89.136719-49.480469s-69.804688 18.496094-89.136719 49.480469l-151 242c-10.378906 16.632812-15.863281 35.832031-15.863281 55.519531 0 57.898438 47.101562 105 105 105h302c57.898438 0 105-47.101562 105-105 0-19.6875-5.484375-38.886719-15.863281-55.519531zm-89.136719 130.519531h-302c-41.355469 0-75-33.644531-75-75 0-14.066406 3.914062-27.773438 11.316406-39.636719l151-242c13.816406-22.144531 37.621094-35.363281 63.683594-35.363281s49.867188 13.21875 63.683594 35.363281l151 242c7.402344 11.863281 11.316406 25.570313 11.316406 39.636719 0 41.355469-33.644531 75-75 75zm0 0"></path><path d="m294.234375 81.242188c-8.300781-13.300782-22.59375-21.242188-38.234375-21.242188s-29.933594 7.941406-38.234375 21.242188l-150.996094 242c-4.429687 7.097656-6.769531 15.3125-6.769531 23.757812 0 24.8125 20.1875 45 45 45h302c24.8125 0 45-20.1875 45-45 0-8.445312-2.339844-16.660156-6.765625-23.757812zm-23.234375 249.757812h-30v-30h30zm0-60h-30v-106h30zm0 0"></path></svg></span>
                <h4 class="u-text u-text-1">Refrigerator</h4>
                <p class="u-small-text u-text u-text-font u-text-variant u-text-2">Repair</p><span class="u-icon u-icon-circle u-text-custom-color-1 u-icon-2">
                    <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 490.434 490.433" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-9857"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 490.434 490.433" x="0px" y="0px" id="svg-9857" style="enable-background:new 0 0 490.434 490.433;"><g><path d="M472.003,58.36l-13.132-11.282c-21.798-18.732-54.554-16.644-73.799,4.697L165.39,295.359l-66.312-57.112   c-21.775-18.753-54.536-16.707-73.804,4.611l-11.611,12.848c-9.416,10.413-14.305,24.149-13.595,38.18   c0.717,14.023,6.973,27.188,17.402,36.6l121.553,111.311c10.524,9.883,24.628,15.037,39.044,14.272   c14.416-0.763,27.894-7.386,37.311-18.329l262.245-304.71c9.162-10.646,13.717-24.494,12.661-38.496   C489.229,80.522,482.655,67.512,472.003,58.36z"></path>
</g></svg>
                </span>
            </div>
        </section>
    </a>
    <a href="../Home/issuereport" style="color:black">
        <section class="u-clearfix u-section-8" id="carousel_a00f">
            <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
                <span class="u-icon u-icon-rounded u-palette-2-light-1 u-radius-10 u-spacing-10 u-text-white u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 -30 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-b8f8"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 -30 512 512" id="svg-b8f8"><path d="m496.136719 291.480469-151-242c-19.332031-30.984375-52.65625-49.480469-89.136719-49.480469s-69.804688 18.496094-89.136719 49.480469l-151 242c-10.378906 16.632812-15.863281 35.832031-15.863281 55.519531 0 57.898438 47.101562 105 105 105h302c57.898438 0 105-47.101562 105-105 0-19.6875-5.484375-38.886719-15.863281-55.519531zm-89.136719 130.519531h-302c-41.355469 0-75-33.644531-75-75 0-14.066406 3.914062-27.773438 11.316406-39.636719l151-242c13.816406-22.144531 37.621094-35.363281 63.683594-35.363281s49.867188 13.21875 63.683594 35.363281l151 242c7.402344 11.863281 11.316406 25.570313 11.316406 39.636719 0 41.355469-33.644531 75-75 75zm0 0"></path><path d="m294.234375 81.242188c-8.300781-13.300782-22.59375-21.242188-38.234375-21.242188s-29.933594 7.941406-38.234375 21.242188l-150.996094 242c-4.429687 7.097656-6.769531 15.3125-6.769531 23.757812 0 24.8125 20.1875 45 45 45h302c24.8125 0 45-20.1875 45-45 0-8.445312-2.339844-16.660156-6.765625-23.757812zm-23.234375 249.757812h-30v-30h30zm0-60h-30v-106h30zm0 0"></path></svg></span>
                <h4 class="u-text u-text-1">Light</h4>
                <p class="u-small-text u-text u-text-font u-text-variant u-text-2">Repair</p><span class="u-icon u-icon-circle u-text-custom-color-1 u-icon-2">
                    <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 490.434 490.433" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-9857"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 490.434 490.433" x="0px" y="0px" id="svg-9857" style="enable-background:new 0 0 490.434 490.433;"><g><path d="M472.003,58.36l-13.132-11.282c-21.798-18.732-54.554-16.644-73.799,4.697L165.39,295.359l-66.312-57.112   c-21.775-18.753-54.536-16.707-73.804,4.611l-11.611,12.848c-9.416,10.413-14.305,24.149-13.595,38.18   c0.717,14.023,6.973,27.188,17.402,36.6l121.553,111.311c10.524,9.883,24.628,15.037,39.044,14.272   c14.416-0.763,27.894-7.386,37.311-18.329l262.245-304.71c9.162-10.646,13.717-24.494,12.661-38.496   C489.229,80.522,482.655,67.512,472.003,58.36z"></path>
</g></svg>
                </span>
            </div>
        </section>
    </a>

    <section class="u-align-left-xs u-clearfix u-gradient u-section-9" id="carousel_5ab6">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-preserve-proportions u-radius-20 u-shape u-shape-round u-white u-shape-1"></div>
        </div>
    </section>


    @Html.Partial("Footer")
</body>
</html>