.u-section-1 .u-sheet-1 {min-height: 137px}
.u-section-1 .u-shape-1 {height: 131px; background-image: none; width: 377px; margin: 3px -18px 0}
.u-section-1 .u-text-1 {font-weight: 700; margin: -114px 109px 0 0}
.u-section-1 .u-text-2 {margin: 0 109px 0 0}
.u-section-1 .u-text-3 {margin: 0 109px 0 0}
.u-section-1 .u-btn-1 {background-image: none; border-style: none; font-size: 0.875rem; margin: 15px 109px 0 auto; padding: 0 5px}
.u-section-1 .u-btn-2 {background-image: none; border-style: none; font-size: 0.875rem; margin: -22px auto 0 62px; padding: 0 5px}
.u-section-1 .u-btn-3 {background-image: none; border-style: none; font-size: 0.875rem; margin: -22px 0 0 auto; padding: 0 5px}
.u-section-1 .u-btn-4 {border-style: none; font-size: 0.875rem; background-image: none; margin: -22px auto 10px 0; padding: 0 5px} 

@media (max-width: 1199px){ .u-section-1 .u-text-1 {width: auto; margin-right: 0; margin-left: 60px}
.u-section-1 .u-text-2 {margin-right: 0; margin-left: 60px; width: auto}
.u-section-1 .u-text-3 {width: auto; margin-right: 0; margin-left: 60px}
.u-section-1 .u-btn-1 {margin-right: 0}
.u-section-1 .u-btn-2 {margin-left: 0} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 138px}
.u-section-1 .u-shape-1 {margin-top: 4px}
.u-section-1 .u-text-1 {margin-right: 109px; margin-left: 0}
.u-section-1 .u-text-2 {margin-right: 109px; margin-left: 0}
.u-section-1 .u-text-3 {margin-right: 109px; margin-left: 0}
.u-section-1 .u-btn-1 {margin-right: 109px}
.u-section-1 .u-btn-2 {margin-left: 62px} }.u-section-2 .u-sheet-1 {min-height: 500px}
.u-section-2 .u-icon-1 {height: 64px; width: 64px; background-image: none; margin: 0 20px 60px}
.u-section-2 .u-text-1 {margin: 30px 0 60px}
.u-section-2 .u-text-2 {margin: 60px 0 0 56px}
.u-section-2 .u-icon-2 {height: 64px; width: 64px; margin: 30px 56px 60px} 

@media (max-width: 1199px){ .u-section-2 .u-text-2 {width: auto} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 61px}
.u-section-2 .u-icon-1 {height: 49px; width: 49px; margin: 6px auto 0 0}
.u-section-2 .u-text-1 {width: auto; margin: -49px 102px 0 56px}
.u-section-2 .u-text-2 {margin-top: 6px; margin-right: 102px}
.u-section-2 .u-icon-2 {height: 30px; width: 30px; margin: -40px 0 15px auto} }.u-section-3 .u-sheet-1 {min-height: 500px}
.u-section-3 .u-icon-1 {height: 64px; width: 64px; background-image: none; margin: 0 20px 60px}
.u-section-3 .u-text-1 {margin: 30px 0 60px}
.u-section-3 .u-text-2 {margin: 60px 0 0 56px}
.u-section-3 .u-icon-2 {height: 64px; width: 64px; background-image: none; margin: 30px 56px 60px} 

@media (max-width: 1199px){ .u-section-3 .u-text-2 {width: auto} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 61px}
.u-section-3 .u-icon-1 {height: 49px; width: 49px; margin: 6px auto 0 0}
.u-section-3 .u-text-1 {width: auto; margin: -49px 102px 0 56px}
.u-section-3 .u-text-2 {margin-top: 6px; margin-right: 102px}
.u-section-3 .u-icon-2 {height: 30px; width: 30px; margin: -40px 0 15px auto} }.u-section-4 .u-sheet-1 {min-height: 500px}
.u-section-4 .u-icon-1 {height: 64px; width: 64px; background-image: none; margin: 0 20px 60px}
.u-section-4 .u-text-1 {margin: 30px 0 60px}
.u-section-4 .u-text-2 {margin: 60px 0 0 56px}
.u-section-4 .u-icon-2 {height: 64px; width: 64px; margin: 30px 56px 60px} 

@media (max-width: 1199px){ .u-section-4 .u-text-2 {width: auto} }

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 61px}
.u-section-4 .u-icon-1 {height: 49px; width: 49px; margin: 6px auto 0 0}
.u-section-4 .u-text-1 {width: auto; margin: -49px 102px 0 56px}
.u-section-4 .u-text-2 {margin-top: 6px; margin-right: 102px}
.u-section-4 .u-icon-2 {height: 30px; width: 30px; margin: -40px 0 15px auto} }.u-section-5 .u-sheet-1 {min-height: 500px}
.u-section-5 .u-icon-1 {height: 64px; width: 64px; background-image: none; margin: 0 20px 60px}
.u-section-5 .u-text-1 {margin: 30px 0 60px}
.u-section-5 .u-text-2 {margin: 60px 0 0 56px}
.u-section-5 .u-icon-2 {height: 64px; width: 64px; margin: 30px 56px 60px} 

@media (max-width: 1199px){ .u-section-5 .u-text-2 {width: auto} }

@media (max-width: 575px){ .u-section-5 .u-sheet-1 {min-height: 61px}
.u-section-5 .u-icon-1 {height: 49px; width: 49px; margin: 6px auto 0 0}
.u-section-5 .u-text-1 {width: auto; margin: -49px 102px 0 56px}
.u-section-5 .u-text-2 {margin-top: 6px; margin-right: 102px}
.u-section-5 .u-icon-2 {height: 30px; width: 30px; margin: -40px 0 15px auto} }.u-section-6 .u-sheet-1 {min-height: 500px}
.u-section-6 .u-icon-1 {height: 64px; width: 64px; background-image: none; margin: 0 20px 60px}
.u-section-6 .u-text-1 {margin: 30px 0 60px}
.u-section-6 .u-text-2 {margin: 60px 0 0 56px}
.u-section-6 .u-icon-2 {height: 64px; width: 64px; margin: 30px 56px 60px} 

@media (max-width: 1199px){ .u-section-6 .u-text-2 {width: auto} }

@media (max-width: 575px){ .u-section-6 .u-sheet-1 {min-height: 61px}
.u-section-6 .u-icon-1 {height: 49px; width: 49px; margin: 6px auto 0 0}
.u-section-6 .u-text-1 {width: auto; margin: -49px 102px 0 56px}
.u-section-6 .u-text-2 {margin-top: 6px; margin-right: 102px}
.u-section-6 .u-icon-2 {height: 30px; width: 30px; margin: -40px 0 15px auto} }.u-section-7 {background-image: linear-gradient(white, #e5e5e5)}
.u-section-7 .u-sheet-1 {min-height: 500px}
.u-section-7 .u-shape-1 {width: 570px; height: 228px; box-shadow: 0 6px 8px 0 rgba(0,0,0,0.35); margin: 136px auto} 

@media (max-width: 767px){ .u-section-7 .u-shape-1 {width: 540px} }

@media (max-width: 575px){ .u-section-7 .u-sheet-1 {min-height: 50px}
.u-section-7 .u-shape-1 {width: 375px; height: 30px; margin: 0 -17px 20px} }.u-section-8 {background-image: none}
.u-section-8 .u-sheet-1 {min-height: 500px} 

@media (max-width: 575px){ .u-section-8 .u-sheet-1 {min-height: 125px} }