.u-section-1 .u-sheet-1 {min-height: 500px}
.u-section-1 .u-shape-1 {width: 570px; height: 228px; background-image: none; margin: 136px auto 0}
.u-section-1 .u-text-1 {font-weight: 700; margin: 21px 1005px 60px 60px}
.u-section-1 .u-text-2 {margin: 20px auto 60px 60px}
.u-section-1 .u-text-3 {margin: 60px 993px 0 60px}
.u-section-1 .u-text-4 { margin: 60px 278px 60px 48px}
.u-section-1 .u-btn-1 {padding: 0}
.u-section-1 .u-text-5 {margin: 46px 1021px 60px 80px}
.u-section-1 .u-btn-2 {padding: 0}
.u-section-1 .u-text-6 {width: auto; margin: -16px auto 0}
.u-section-1 .u-btn-3 {padding: 0}
.u-section-1 .u-text-7 {margin: -18px 1108px 17px 20px}
.u-section-1 .u-btn-4 {padding: 0} 

@media (max-width: 1199px){ .u-section-1 .u-text-1 {width: auto; margin-right: 865px}
.u-section-1 .u-text-3 {width: auto; margin-right: 853px}
.u-section-1 .u-text-4 {width: auto}
.u-section-1 .u-text-5 {width: auto; margin-right: 901px}
.u-section-1 .u-text-7 {width: auto; margin-right: 928px} }

@media (max-width: 991px){ .u-section-1 .u-text-1 {margin-right: 645px}
.u-section-1 .u-text-3 {margin-right: 633px}
.u-section-1 .u-text-5 {margin-right: 681px}
.u-section-1 .u-text-7 {margin-right: 708px} }

@media (max-width: 767px){ .u-section-1 .u-shape-1 {width: 540px}
.u-section-1 .u-text-1 {margin-right: 465px}
.u-section-1 .u-text-3 {margin-right: 453px}
.u-section-1 .u-text-5 {margin-right: 501px}
.u-section-1 .u-text-7 {margin-top: 20px; margin-right: auto; margin-left: auto} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 142px}
.u-section-1 .u-shape-1 {height: 131px; width: 377px; margin-top: 3px; margin-left: -18px; margin-right: -18px}
.u-section-1 .u-text-1 {margin: -114px 109px 0 0}
.u-section-1 .u-text-2 {width: auto; margin: 0 109px 0 0}
.u-section-1 .u-text-3 {margin-top: 0; margin-right: 109px; margin-left: 0}
.u-section-1 .u-text-4 {margin: 23px 184px 0 96px}
.u-section-1 .u-text-5 {margin: -15px 83px 0 197px}
.u-section-1 .u-text-6 {margin-top: -18px; margin-right: 3px}
.u-section-1 .u-text-7 {margin: -18px 270px 20px 17px} }.u-section-2 .u-sheet-1 {min-height: 500px}
.u-section-2 .u-icon-1 {height: 64px; width: 64px; background-image: none; margin: 0 20px 60px}
.u-section-2 .u-text-1 {margin: 30px 0 60px}
.u-section-2 .u-text-2 {margin: 60px 0 0 56px}
.u-section-2 .u-icon-2 {height: 64px; width: 64px; margin: 30px 56px 60px} 

@media (max-width: 1199px){ .u-section-2 .u-text-2 {width: auto} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 61px}
.u-section-2 .u-icon-1 {height: 49px; width: 49px; margin: 6px auto 0 0}
.u-section-2 .u-text-1 {width: auto; margin: -49px 102px 0 56px}
.u-section-2 .u-text-2 {margin-top: 6px; margin-right: 102px}
.u-section-2 .u-icon-2 {height: 30px; width: 30px; margin: -40px 0 15px auto} }.u-section-3 .u-sheet-1 {min-height: 500px}
.u-section-3 .u-icon-1 {height: 64px; width: 64px; background-image: none; margin: 0 20px 60px}
.u-section-3 .u-text-1 {margin: 30px 0 60px}
.u-section-3 .u-text-2 {margin: 60px 0 0 56px}
.u-section-3 .u-icon-2 {height: 64px; width: 64px; margin: 30px 56px 60px} 

@media (max-width: 1199px){ .u-section-3 .u-text-2 {width: auto} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 61px}
.u-section-3 .u-icon-1 {height: 49px; width: 49px; margin: 6px auto 0 0}
.u-section-3 .u-text-1 {width: auto; margin: -49px 102px 0 56px}
.u-section-3 .u-text-2 {margin-top: 6px; margin-right: 102px}
.u-section-3 .u-icon-2 {height: 30px; width: 30px; margin: -40px 0 15px auto} }.u-section-4 .u-sheet-1 {min-height: 500px}
.u-section-4 .u-icon-1 {height: 64px; width: 64px; background-image: none; margin: 0 20px 60px}
.u-section-4 .u-text-1 {margin: 30px 0 60px}
.u-section-4 .u-text-2 {margin: 60px 0 0 56px}
.u-section-4 .u-icon-2 {height: 64px; width: 64px; margin: 30px 56px 60px} 

@media (max-width: 1199px){ .u-section-4 .u-text-2 {width: auto} }

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 61px}
.u-section-4 .u-icon-1 {height: 49px; width: 49px; margin: 6px auto 0 0}
.u-section-4 .u-text-1 {width: auto; margin: -49px 102px 0 56px}
.u-section-4 .u-text-2 {margin-top: 6px; margin-right: 102px}
.u-section-4 .u-icon-2 {height: 30px; width: 30px; margin: -40px 0 15px auto} }.u-section-5 .u-sheet-1 {min-height: 500px}
.u-section-5 .u-icon-1 {height: 64px; width: 64px; background-image: none; margin: 0 20px 60px}
.u-section-5 .u-text-1 {margin: 30px 0 60px}
.u-section-5 .u-text-2 {margin: 60px 0 0 56px}
.u-section-5 .u-icon-2 {height: 64px; width: 64px; margin: 30px 56px 60px} 

@media (max-width: 1199px){ .u-section-5 .u-text-2 {width: auto} }

@media (max-width: 575px){ .u-section-5 .u-sheet-1 {min-height: 61px}
.u-section-5 .u-icon-1 {height: 49px; width: 49px; margin: 6px auto 0 0}
.u-section-5 .u-text-1 {width: auto; margin: -49px 102px 0 56px}
.u-section-5 .u-text-2 {margin-top: 6px; margin-right: 102px}
.u-section-5 .u-icon-2 {height: 30px; width: 30px; margin: -40px 0 15px auto} }.u-section-6 .u-sheet-1 {min-height: 500px}
.u-section-6 .u-icon-1 {height: 64px; width: 64px; background-image: none; margin: 0 20px 60px}
.u-section-6 .u-text-1 {margin: 30px 0 60px}
.u-section-6 .u-text-2 {margin: 60px 0 0 56px}
.u-section-6 .u-icon-2 {height: 64px; width: 64px; margin: 30px 56px 60px} 

@media (max-width: 1199px){ .u-section-6 .u-text-2 {width: auto} }

@media (max-width: 575px){ .u-section-6 .u-sheet-1 {min-height: 61px}
.u-section-6 .u-icon-1 {height: 49px; width: 49px; margin: 6px auto 0 0}
.u-section-6 .u-text-1 {width: auto; margin: -49px 102px 0 56px}
.u-section-6 .u-text-2 {margin-top: 6px; margin-right: 102px}
.u-section-6 .u-icon-2 {height: 30px; width: 30px; margin: -40px 0 15px auto} }.u-section-7 {background-image: linear-gradient(white, #e5e5e5)}
.u-section-7 .u-sheet-1 {min-height: 500px}
.u-section-7 .u-shape-1 {width: 570px; height: 228px; box-shadow: 0 6px 8px 0 rgba(0,0,0,0.35); margin: 136px auto} 

@media (max-width: 767px){ .u-section-7 .u-shape-1 {width: 540px} }

@media (max-width: 575px){ .u-section-7 .u-sheet-1 {min-height: 50px}
.u-section-7 .u-shape-1 {width: 375px; height: 30px; margin: 0 -17px 20px} }.u-section-8 {background-image: none}
.u-section-8 .u-sheet-1 {min-height: 500px}
.u-section-8 .u-icon-1 {height: 64px; width: 64px; background-image: none; margin: 0 20px 60px} 

@media (max-width: 575px){ .u-section-8 .u-sheet-1 {min-height: 125px}
.u-section-8 .u-icon-1 {margin: 31px auto} }