.u-section-1 .u-sheet-1 {min-height: 500px}
.u-section-1 .u-shape-1 {width: 570px; height: 228px; background-image: none; margin: 136px auto 0}
.u-section-1 .u-text-1 {font-weight: 700; margin: 21px 1005px 60px 60px}
.u-section-1 .u-text-2 {margin: 20px auto 60px 60px}
.u-section-1 .u-text-3 {margin: 60px 993px 0 60px}
.u-section-1 .u-icon-1 {height: 64px; width: 64px; margin: 30px 60px 60px} 

@media (max-width: 1199px){ .u-section-1 .u-text-1 {width: auto; margin-right: 865px}
.u-section-1 .u-text-3 {width: auto; margin-right: 853px}
.u-section-1 .u-icon-1 {margin-left: 0} }

@media (max-width: 991px){ .u-section-1 .u-text-1 {margin-right: 645px}
.u-section-1 .u-text-3 {margin-right: 633px} }

@media (max-width: 767px){ .u-section-1 .u-shape-1 {width: 540px}
.u-section-1 .u-text-1 {margin-right: 465px}
.u-section-1 .u-text-3 {margin-right: 453px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 116px}
.u-section-1 .u-shape-1 {height: 111px; width: 377px; margin-top: 3px; margin-left: -19px; margin-right: -19px}
.u-section-1 .u-text-1 {margin: -94px 109px 0 0}
.u-section-1 .u-text-2 {width: auto; margin: 0 109px 0 0}
.u-section-1 .u-text-3 {margin-top: 0; margin-right: 109px; margin-left: 0}
.u-section-1 .u-icon-1 {height: 54px; width: 54px; margin: -57px 0 30px auto} }.u-section-2 .u-sheet-1 {min-height: 500px}
.u-section-2 .u-icon-1 {height: 64px; width: 64px; background-image: none; margin: 0 20px 60px}
.u-section-2 .u-text-1 {width: auto; margin: -36px auto 60px} 

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 90px}
.u-section-2 .u-icon-1 {margin: 13px auto 0 0}
.u-section-2 .u-text-1 {margin-top: -42px; margin-bottom: 35px} }.u-section-3 .u-sheet-1 {min-height: 500px}
.u-section-3 .u-btn-1 {background-image: none; font-weight: normal; text-transform: none; font-size: 1rem; letter-spacing: normal} 

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 80px}
.u-section-3 .u-btn-1 {border-style: solid; font-weight: 700; text-transform: uppercase; font-size: 0.75rem; letter-spacing: 1px; margin: 35px auto 20px; padding: 1px 40px} }.u-section-4 {background-image: linear-gradient(white, #e5e5e5)}
.u-section-4 .u-sheet-1 {min-height: 500px}
.u-section-4 .u-shape-1 {width: 570px; height: 228px; box-shadow: 0 6px 8px 0 rgba(0,0,0,0.35); margin: 136px auto} 

@media (max-width: 767px){ .u-section-4 .u-shape-1 {width: 540px} }

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 50px}
.u-section-4 .u-shape-1 {width: 375px; height: 30px; margin: 0 -17px 20px} }.u-section-5 {background-image: none}
.u-section-5 .u-sheet-1 {min-height: 500px} 

@media (max-width: 575px){ .u-section-5 .u-sheet-1 {min-height: 255px} }